<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Tech</h2>
    <img src="/assets/dbeaver.png" style="width:60px;height:60px;">
    <img src="/assets/dbeaver.png" style="width:60px;height:60px;">
    <img src="/assets/dbeaver.png" style="width:60px;height:60px;">
    <p>I feel comfortable working on the front-end, going from pure CSS & HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>
  </div>
  <div class="tech">
    <h2>Music</h2>
    <img src="/assets/dbeaver.png" style="width:60px;height:60px;">
    <img src="/assets/dbeaver.png" style="width:60px;height:60px;">
    <img src="/assets/dbeaver.png" style="width:60px;height:60px;">

    <p>My main development languages are Java and JavaScript, but I have worked with Go, Python, PHP and more..</p>
  </div>
  <div class="tech">
    <h2>Community</h2>
     <img src="/assets/dbeaver.png" style="width:60px;height:60px;">
    </svg> 
   <img src="/assets/dbeaver.png" style="width:60px;height:60px;">
    <img src="/assets/dbeaver.png" style="width:60px;height:60px;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
