<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Tech</h2>
    <img src="/assets/consensys.svg" style="width:60px;height:60px;">
    <img src="/assets/sfx.jpg" style="width:60px;height:60px;">
    <p>I have worked in high-growth technology startups where the freedom of the unkown!</p>
  </div>
  <div class="tech">
    <h2>Music</h2>
    <img src="/assets/ujo.png" style="width:60px;height:60px;">
    <img src="/assets/da.png" style="width:60px;height:60px;">

    <p>My main development languages are Java and JavaScript, but I have worked with Go, Python, PHP and more..</p>
  </div>
  <div class="tech">
    <h2>Community</h2>
     <img src="/assets/community.png" style="width:60px;height:60px;">
    </svg> 
   <img src="/assets/burn.png" style="width:60px;height:60px;">
    <img src="/assets/fest.png" style="width:60px;height:60px;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
