<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Tech</h2>
    <img src="/assets/consensys.svg" style="width:60px;height:60px;">
    <img src="/assets/sfx.jpg" style="width:60px;height:60px;">
    <p>I have worked in high-growth technology startup, often on the cutting edge of what's possible. The unknown is always the most daunting and exciting. My career has taken me to the tech side of music and on the bleeding edge of blockchain.</p>
  </div>
  <div class="tech">
    <h2>Music</h2>
    <img src="/assets/ujo.png" style="width:60px;height:60px;">
    <img src="/assets/da.png" style="width:60px;height:60px;">

    <p>I co-founded a music-tech startup, <a href="https://ujomusic.com">Ujo</a>, after spending time learning how archaic the music industry is. I used to write for <a href="https://dancingastronaut.com/author/jgrushack/">Dancing Astronaut</a> and have been known to enjoy live music from time to time.</p>
  </div>
  <div class="tech">
    <h2>Community</h2>
     <img src="/assets/ethereal.png" style="width:60px;height:60px;">
    </svg> 
   <img src="/assets/burn.png" style="width:60px;height:60px;">
    <p>While technology is amazing, it is only as good as the people it serves. I co-founded <a href="https://etherealsummit.com">Ethereal</a> to cultivate a creative community in the blockchain space. In my spare time, I also run a community at Burning Man, <a href="https://noderepublik.com">Node Republik</a>. </p>
  </div>
</div>
